extends layout

block content
  div.container
    div.row
      div.col-lg-5.nonpadding
        h1.title 应用管控平台
      div.col-lg-2.nonpadding
        form(role='form')
          label.title3 当前应用:
          select#current_app
            option 应用1
            option 应用2   
      div.col-lg-5.nonpadding.float-right
        - if (!user)
            a(class='btn btn-primary btn-lg' href='/login' role="button") 登录
            a(class='btn btn-primary btn-lg' href='/reg' role="button") 注册
        - else
            a(class='btn btn-success btn-lg' disabled='true' href='#' role="button")=user
            a(class='btn btn-primary btn-lg' href='/logout' role="button") 退出             
    div.row
      div.col-lg-12.nonpadding
        ul.nav.nav-pills.nav-justified
          li.dropdown
            a#TabDrop1.navitem.dropdown-toggle(href='#',data-toggle='dropdown') 角色管理
              b.caret
            ul.dropdown-menu(role='menu',aria-labelledby='TabDrop1')
              li
                a(href='/user_app',tabindex='-1' ,target='frmpage') 用户-应用角色
              li
                a(href='/user_db',tabindex='-1' ,target='frmpage') 用户-数据库角色
          li.dropdown
            a#TabDrop2.navitem.dropdown-toggle(href='#',data-toggle='dropdown') WAF规则管理
              b.caret
            ul.dropdown-menu(role='menu',aria-labelledby='TabDrop2')
              li
                a(href='/role_function',tabindex='-1' ,target='frmpage') 角色-功能
              li
                a(href='/function_url',tabindex='-1' ,target='frmpage') 功能-URL
          li
            a.navitem(href='/role_table',target='frmpage') SQLrelay规则管理
          li.dropdown
            a#TabDrop3.navitem.dropdown-toggle(href='#',data-toggle='dropdown') 日志管理 
              b.caret
            ul.dropdown-menu(role='menu',aria-labelledby='TabDrop3')
              li
                a(href='/waf_log',tabindex='-1' ,target='frmpage') WAF日志
              li
                a(href='/sqlrelay_log',tabindex='-1' ,target='frmpage') SQLrelay日志
          li
            a.navitem(href='/import',target='frmpage') 导入
          li
            a.navitem(href='/setting',target='frmpage') 配置
  div.container
    iframe(name='frmpage' src='/default') 
      p Welcome!
      p This is a koa2-based office automation system.
      p Your browser may not support iframe.