doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet' href='http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet' href='/stylesheets/mycss.css')
    script(src='http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js')
    script(src='http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js')
    script.
      $(function (){
        $(document).ready(function(){
           $('.btn-search').click(search);
        });
      });
      function search() {
        let content = $('#searchBox').val();
        if (content) {
          $.post('/user_app',{content:content},function(result){
            let length = result.len;
            if ($.isEmptyObject(result.logs)) { //如果没有查询到数据则返回提示
              alert(`
              No result matched the given condition!

              Please retry!`);
            } else { //如果查询到数据则动态生成表格               
              let tbody = $('tbody');
              tbody.html("");
              for (var i = 0;i<length;i++) {
                let tr = $('<tr></tr>');
                tr.appendTo(tbody);
                $('<td></td>').text(result.logs[i].id).appendTo(tr);
                $('<td></td>').text(result.logs[i].time).appendTo(tr);
                $('<td></td>').text(result.logs[i].username).appendTo(tr);
                
              }
            }
          });
        } else {
          alert('There is no condition!');
        }
      }   
  body
    div.container
      div.row
        ul.list-inline
          li.col-lg-3.nonpadding
            p.content-title 用户-应用角色映射管理
          li.col-lg-6.nonpadding
          li.float-right.col-lg-3.nonpadding
            div.input-group
              input#searchBox.form-control(type='text',placeholder='输入关键字，支持模糊查询',required)
              span.input-group-btn
                input.btn.btn-warning.btn-search(type='submit',value='搜索') 
      div.row
        table.table
          thead
            tr
              th 序号（id）
              th 用户名（username）
              th 应用角色（approle）
              th 操作（manage）
          tbody
            each relation in relations
              tr
              each val in relation
                td.success #{val}
              td.success 
                button(type='button' class='btn btn-primary btn-xs btn-block') 管理
